@charset "utf-8";
@font-face {
    font-family: 'centgoth';
	src: url(../resources/fonts/GOTHIC.TTF);
	font-weight: normal;
}
@font-face {
    font-family: 'centgoth';
	src: url(../resources/fonts/GOTHICB.TTF);
	font-weight: bold;
}

@font-face {
    font-family: 'centgoth';
	src: url(../resources/fonts/GOTHICBI.TTF);
	font-weight: bold;
	font-style: italic;
}

@font-face {
    font-family: 'centgoth';
	src: url(../resources/fonts/GOTHICI.TTF);
	font-weight: normal;
	font-style: italic;
}


html {
	height:100%;
}
body {
	margin:0;
	padding:0;
	font-family:  'century gothic','centgoth', arial, sans-serif;
	cursor: url(../resources/cursorORB.png) 2 2, auto;
	min-width: 370px;
	height:100%;
}
body a:hover {
	cursor: url(../resources/cursorORBClick.png) 5 5, pointer;
}
a {
	text-decoration: none;
}
.clearfix {
    clear:both;
}
.barrel {
	width:1100px;
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	/* background-color: aqua;*/
}
.barrelHeader {
	width:1100px;
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	/* background-color: aqua;*/
	height: calc(100% - 334px);
}
.linebreak {
    margin: 25px 100px;
    border-bottom: 3px solid #696969;
}

/*-------------------------------------*/
.hamburger {
	display:none;
	color:lightgray;
	font-size: 30px;
	text-decoration: none;
	position: fixed;
	right:10px;
	top:15px;
	padding: 4px 10px;
	z-index: 99;
}

header {
    background-color: #333333;
	padding: 20px 0;
	text-align: right;
	vertical-align: middle;
	position:fixed;
	z-index: 90;
	width:100%;
	transition: all 0.6s ease-out;
}
.fp-viewing-0 #hideHeader {top:0px;}
#hideHeader {top:-110px;}
header img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    float:left;
}
.portHeader {
	position:fixed;
	top:0;
	z-index: 90;
	width:100%;
}
nav {
	height: 70px;
	vertical-align: middle;
	display:flex;
	justify-content: right;
	align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
	padding: 0 10px;
}
nav a:hover {
    color:white;
	border-bottom: 1px solid white;
	transform-origin: left center;
	transition: border 1s ease;
}
nav .active {
	color:lightgray;
}
.hamburg-nav {
	z-index: 99;
	background: #333333;
	position: fixed;
	display: none;
}
/*-------------------------------------*/
.mainFront {
	color: rgb(168, 168, 168);
	display:block;
	background-color: #333333;
	min-height: 880px;
}
.mainFront h1 {
	margin:0;
	font-size:24pt;
	display: block;
}
.mainFront h2 {
	font-size:20pt;
	margin: 0;
	text-align: left;
}
.intro img {
	margin: 2vw;
	max-width: 30vw;
	min-width: 30vw;
	border-radius: 20px;
}
.intro {
	padding-top:50px;
}
.mainFront img {
	border-radius: 20px;
}
.mainFront th {
	font-weight: normal;
}
.brickActive {
	display: none;
}
.frontpage .miniAbout {
	font-size: 2.5vw;
	padding: 2vw;
	display: block;
}
.miniAbout span {
	font-size:1.5vw;
}
.littleFix {
	padding-bottom: 20px;
}
.frontpage a {
	padding: 0 20%;
	color: rgb(168, 168, 168);
	margin: 0;
	padding: 0;
}
.frontpage a:hover {
	color: #F78C25;
}
.duncan_sux {
	margin: 0 20%;
	border: 8px solid #696969;
	padding: 2vw;
	border-radius: 15px;
	transition: all ease-in-out 0.2s;
}
.duncan_sux:hover {
	transition: all ease-in-out 0.2s;
	background-color: #424242;
	border: 8px solid transparent;
}
@keyframes spin {0%{transform: rotate(0deg);}100%{transform:rotate(360deg)}}

.frontpage img {
	
	transition: all ease-in-out 0.6s;
	width:50%;
	height: auto;
	margin: 80px auto;
	display: flex;
	justify-content: center;
}
.frontpage img:hover {
	animation: spin 2s linear infinite;
	transition: all ease-in-out 0.6s;
}
/*-------------------------------------*/
.contactblock {
	margin: auto auto;
	min-width: 200px;
	max-width: 300px;
	position: absolute;
	top:50%;
	left:20%;
	right:20%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); 
	transition: all 0.3s ease-in-out;
}
.bigcontact h2 {
	margin: 0;
	font-style: italic;
}
.bigcontact p {
	margin:0;
	font-size:20px;
}
.colm {
	float:left;
	width:50%;
	height:100%;
	min-width: 220px;
	position: relative;
}
.bigcontact {
	margin: 0px 0;
	height: calc(100% - 334px);
	min-height: 420px;
}
.bigcontact:after {
	content: "";
	display: table;
	clear:both;
}
.splitback {
	background-color: #F78C25;
}
.heyblock {
	width: 260px;
}
label {
	font-size: medium;
	transition: all 0.3s ease-in-out;
	cursor: url(../resources/cursorORBClick.png) 5 5, auto;
	color:#424242
}
input {
	border: transparent 2px solid;
	border-radius: 10px;
	padding: 4px 7px;
	font-size: medium;
	width: 300px;
}
input:focus {
	border: #F78C25 2px solid;
	outline:none;
}
input:hover {
	cursor: url(../resources/cursorORBClick.png) 5 5, auto;
}
textarea {
	border-radius: 10px;
	resize: none;
	width: 300px;
	height: 110px;
	outline:none;
	border: none;
	padding: 4px 7px;
}
.field {
	transition: all 0.3s ease-in-out;
	font-family: 'centgoth', 'century gothic', Arial, Helvetica, sans-serif;
	box-shadow: 0px 5px 8px rgb(168, 168, 168);
}
.contactblock p {
	margin: 10px 0 0 0;
}
.radbutton {
	width: 20px;
	margin: 0;
}
.button {
	margin-top:10px;
}
.button:focus{
	outline:transparent 2px solid;
	border:transparent 2px solid;
}
.button:active {
	background-color: #F78C25;
}
.button:hover {
	background-color:#F78C25;
	cursor: url(../resources/cursorORBClick.png) 5 5, pointer;
}
.wonky span {
	color:red;
}

/*-------------------------------------*/
.folio {
	width:100%;
	color:rgb(219, 219, 219);
}
.folio img {
	transition:all 0.3s ease-in-out;
	opacity: 65%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.10) 0px 3px 6px;
}
.folio img:hover {
	opacity: 100%;
	cursor: url(../resources/cursorORBClick.png) 5 5, pointer;
}
.bottomspace {
	margin-bottom: 20px;
	height:100px;
}
.shortSpace {
	height:0;
}
.widegallery {
	gap:20px;	
	max-height: 80vh;
	max-width: 100%;
}
.widegallery img {
	margin: 10px;
	max-width: 30%;
	max-height: 40%;
}

.widegallery2 {
	width:80%;
	margin: 0 auto;
}
.folio h1 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 0;
}
.folio span {
	font-size: 10px;
	align-items: center;
	margin:0 auto;
}

.thisIsNotAGoodFix {
	text-align:center;
}
.footie {
	/*position: fixed;
	bottom:-250px;*/
	width:100%;
	transition: all 0.6s ease-out;

}
/*-------------------------------------*/
.mainArtist {
	margin:0;
	min-height: 420px;
	background: #424242;
	color:rgb(219, 219, 219);
}
.mainArtist img {
	width:100%;
	border-radius: 12px;
	min-width: 220px;
}
.tallblock {
	margin: 0 30%;
	padding-top: 20px;
	display:block;
}
.textnugget {
	text-align: center;
	padding: 0 20%;
	min-width: 328px;
}
.textnugget h1 {
	font-size: 30px;
	margin-bottom: 0;
}
.textnugget h4 {
	font-size: small;
	margin-top: 0px;
}
.mainArtist .barrel {
	padding-bottom:20px;
	height: calc(100% - 334px);
}
/*-------------------------------------*/
.footgroup {
    width:180px;
    float:left;
}
footer {
	background-color: #333333;
	color:white;
	/*padding-top:20px;
	padding-bottom:30px;*/
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color:lightgray;
}
footer p {
	text-align: center;
}

.socialgroup {
    padding:0;
    margin:0;
    text-align: right;
    width:300px;
    float:right;
}
.socialgroup img {
    margin: 0 10px;
    height: 30px;
    width: auto;
}
.fp-viewing-4 #foots{
	display:flex;
	bottom:0;
	transition: all 0.6s ease-out;
}


/*-------------------------------------*/

/* iPads Landscape */
@media screen and (max-width: 1025px) {
	.wonky {
		left: 10%;
		transition: all 0.3s ease-in-out;
	}
}

/* Smaller than iPads  */
@media screen and (max-width: 767px) {
	nav {
		display:none;
	}
	.hamburger {
		display:inline-block;
	}
	section {
		margin: 70px 0;
	}
	.hamburg-nav {
		display:block;
		height: 20px;
		padding: 10px 5px;
		border-radius: 4px;
	}
	.colm {
		float:left;
		width:100%;
		height:400px;
		min-width: 220px;
		position: relative;
	}
	.splitbackpt2 {
		background-color: white;
		padding-bottom: 20px;
		margin-bottom:20px;
	}
	.squares img {
		width:100%;
		height:auto;
	}
	.tallblock {
		height:auto;
	}
	.mainFront {
		margin:0;
		height:100%;
	}
	.frontpage {
		height:520px;
	}
	.textnugget {
		padding: 0 0%;
	}
	.tallblock {
		margin: 0 auto;
	}
	.wonky {
		Right: 10%;
	}
	.widegallery img {
		max-width: 40%;
	}
	/*.mainFront h1 {
		font-size:14vw;
		height: 25vw;
	}
	.mainFront h2 {
		font-size:9.5vw;
		padding:2vw 0;
		margin: 0;
	}*/
	.frontpage .miniAbout {
		font-size: 5.5vw;
		padding: 2vw;
		display: block;
	}
	.miniAbout span {
		font-size:3vw;
	}
	/*.mainFront img {max-width: 70vw;}*/
	.brickActive {
		display:block;
	}
	.brickClear {
		display:none;
	}
}
/* Short Window */
@media screen and (max-height: 700px) {
	.shortSpace {
		height:50vh;
		display: block;
	}
}

@media screen and (min-height:701px) and (max-height:900px) {
	.widegallery img {
		max-width: 20%;
	}
}